# Логи
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Зависимости
node_modules/

# Файлы операционной системы
.DS_Store
Thumbs.db

# Файлы редактора
.vscode/
.idea/
*.swp
*.swo

# Временные файлы
*.tmp
*.temp

# Файлы сборки
/dist
/build